.App {
  font-family: "Titillium Web";
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

.head-name {
  font-weight: 600;
}

.txt-srch {
  height: 30px;
  width: 200px;
  
}

/* .fa-spinner {
  float: right;
  margin-right: -355px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 59px;
} */
